@font-face {
    font-family: 'font3_1';
    src: url('../../fonts/Font23/newake-font-demo-webfont.woff2') format('woff2'),
         url('../../fonts/Font23/newake-font-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font3_2';
    src: url('../../fonts/Font23/nightydemo-webfont.woff2') format('woff2'),
         url('../../fonts/Font23/nightydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font5';
    src: url('../../fonts/Supply_Free/ppsupplymono-regular-webfont.woff2') format('woff2'),
         url('../../fonts/Supply_Free/ppsupplymono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font1_1';
    src: url('../../fonts/Font1/migha-semiexpandedslant-webfont.woff2') format('woff2'),
         url('../../fonts/Font1/migha-semiexpandedslant-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font1_2';
    src: url('../../fonts/Font1/migha-thinsemiexpanded-webfont.woff2') format('woff2'),
         url('../../fonts/Font1/migha-thinsemiexpanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font1_3';
    src: url('../../fonts/Font1/migha-thinsemiexpandedslant-webfont.woff2') format('woff2'),
         url('../../fonts/Font1/migha-thinsemiexpandedslant-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font2_1';
    src: url('../../fonts/DfontBold/dxrigraf-semiboldexpanded-webfont.woff2') format('woff2'),
         url('../../fonts/DfontBold/dxrigraf-semiboldexpanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font2_2';
    src: url('../../fonts/DfontBoldItalic/dxrigraf-semiboldexpanded-webfont.woff2') format('woff2'),
         url('../../fonts/DfontBoldItalic/dxrigraf-semiboldexpanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font2_3';
    src: url('../../fonts/DfontExtra/dxrigraf-semiboldexpanded-webfont.woff2') format('woff2'),
         url('../../fonts/DfontExtra/dxrigraf-semiboldexpanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Resume{
    text-align: center;
    font-family: 'pp_supply_monoregular', sans-serif;
}

.Resume-header{
    border: 1px solid rgb(255, 255, 255);  

    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 20px;
    padding: 20px;
    grid-template-rows: auto;  
    /*display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    grid-column-start: 1; 
    grid-row-start: 1;
    justify-self: start; 
*/
}
.Resume-header-block{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: left;

    color: white;
    font-size: 40px;
}

.Resume-header-icon{
    border: 1px solid rgb(255, 255, 255);  
    padding: 20px;
    margin: 10px;
   /* grid-column-start: 1; 
    grid-row-start: 1;*/
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row; 
}
