.Project{
    text-align: center;

}
.Project-grid{
    display: grid;
    grid-template-columns: 12% auto;
    grid-gap: 20px;
    padding: 20px;
    grid-template-rows: auto auto;

}

.Project-feed{
    border: 1px solid rgb(255, 255, 255); 

    height: 380px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}
.Project-feed-element-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.Project-feed-element1{
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    animation: scroll 340s linear infinite;
}

@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%); 
    }
}

.Project-feed-element1 img {
    width: auto; 
    height: auto;
    margin: 20px;
}

.Project-feed-element2{
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    animation: scroll 100s linear infinite;
}


.Project-feed-element2 img {
    width: auto; 
    height: auto;
    margin: 20px;
  }
