.project_card-container{
    width: 70rem;
    height: 30rem;
    background-color: #DBDBDB;
    margin: 2rem;
}
.project_card-grid{
    margin: 1.5rem;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #DBDBDB;
    margin: 2rem;
    grid-template-columns: 30% 70%;
    align-items: start;
}
.project_card-left_column{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10rem;
}

.project_card-header{
    margin: 0.4rem;
    display: flex;
    width: 100%;
    justify-content: start;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-weight: bold;
    font-size: 23px;
    font-style: italic;

}
.project_card-logo{
    display: flex;
    width: 100%;
    justify-content:start;

}
.project_card-contact-grid{
    display: grid;
    width: 100%;
    height: 40%;
    grid-template-rows: auto auto auto ;
    gap: 0.7rem;
    margin-top: 3rem;
}
.project_card-item{
    width: 100%;
    justify-content: start;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-weight: bold;
    font-size: 26px;
}
.project_card-description{
    font-family: 'pp_supply_monoregular', sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin: 2rem;
    margin-left: 5rem;
    width: 80%;
    height: 100%;
    word-wrap: break-word;
    text-align: start;


}