@font-face {
  font-family: 'pp_supply_monoregular';
  src: url('./fonts/Supply_Free/ppsupplymono-regular-webfont.woff2') format('woff2'),
       url('./fonts/Supply_Free/ppsupplymono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  background-color:#1a1a1a;

}


.App {
  text-align: center;
  min-width: 100%;
}

.App-header {
  background-color:#2e2e2e;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: space-between;
  font-size: calc(15px + 2vmin);
  font-family: 'pp_supply_monoregular', sans-serif;
  color: white;
}
.App-header-navigation{
  height: 100%;
  width:max-content;
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: space-between;

}
.App-header-link{
  width :fit-content;
  margin: 20px ;
  padding: 10px;
  align-items: center;
}

.ContentGrid{
  display: grid;
  grid-template-columns: 20vw auto;
  height: 100vh;
  grid-template-rows: auto;
}


.MenuSidebar {
  background-color:#00cb00;
  grid-column: 1/ 2;
  height:100%;
  color: white;
}

.MainContentZone{
  background-color:#b6b6b6;
  grid-column: 2/3 ;
  height:100%;
}
