.ProjectES{
    text-align: center;
}

.ProjectES-grid{
    display: grid;
    grid-template-columns: auto;  
    gap: 20px;  
    grid-template-rows: auto;
}
.ProjectES-header-grid{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;  
    gap: 20px;  
    grid-template-rows: auto ;
    height: 240px;
}
.ProjectES-header-grid-logo{
    border: 1px solid rgb(255, 255, 255); 
    padding: 20px; 
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 28px;
}

.ProjectES-header-grid-item{

}

.ProjectES-body-grid{
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.ProjectES-body-grid-row0{
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    width: 70%;
    margin: 20px;
    padding: 20px;
}

.ProjectES-body-grid-row1{
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: grid;
    grid-template-columns:1fr 1fr;  
    grid-template-rows: auto ;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
}


.ProjectES-body-grid-item-left{
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}
.ProjectES-body-grid-item-right{
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;

    margin: 20px;
    padding: 20px;
}

.ProjectES-body-grid-row2{
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    width: 80rem;
    margin: 20px;
    padding: 20px;
}
.ProjectES-body-grid-row3{
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    width: 60rem;
    margin: 20px;
    padding: 20px;
}
.ProjectES-body-grid-row4{
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: grid;
    grid-template-columns: auto auto;  
    grid-template-rows: auto ;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 35rem;
    margin: 20px;
    padding: 20px;
}