.ResumeES{
    text-align: center;
}

.line {
    border-bottom: 1px solid rgb(255, 255, 255);  
    width: 100%; 
    margin: 20px 0; 
}

.grid-container-header {
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 0.5fr;  
    gap: 20px;  
    grid-template-rows: auto;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;  
    gap: 20px;  
    grid-template-rows: auto;
}

.grid-item-header {
    border: 1px solid rgb(255, 255, 255);  
    padding: 20px;  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size:32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item-header-education {
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: grid;
    grid-template-columns:auto;  
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
    justify-content: center;
    align-items: center;
}

.grid-item-header-education-title {
    color: white;
    margin: 20px;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 30px;
}
.grid-item-header-education-item {
    color: white;
    margin: 20px;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 20px;
}
.grid-item-since {
    border: 1px solid rgb(255, 255, 255);  
    padding: 20px;  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item-software{
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);  
    display: grid;
    grid-template-columns: 0.02fr auto; 
    gap: 20px; 
}
.grid-item-software-text{
    padding: 20px; 
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 40px;
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    width: 20px;
}
.grid-item-software-icons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ; 
    grid-template-rows: auto auto auto;
    gap: 10px; 
}

.grid-item {
    border: 1px solid rgb(255, 255, 255); 
    padding: 20px; 
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 28px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto; 
    gap: 20px;  
    grid-template-rows: auto;
}

.grid-container-experience-block {
    border: 1px solid rgb(255, 255, 255); 
    display: grid;
    grid-template-columns: auto ; 
    gap: 20px;  
    grid-template-rows: auto auto;
}

.grid-container-experience-title {
    padding: 20px; 
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 36px;
}

.grid-container-experience-name {
    padding: 20px; 
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;

}
.grid-container-experience-deskription {
    border: 1px solid rgb(70, 70, 70); 
    display: grid;
    grid-template-columns: auto ; 
    gap: 20px;  
    grid-template-rows: auto auto auto auto auto auto auto;
}
.grid-container-experience-deskription-item {
    border-bottom: 1px solid rgb(107, 107, 107);     
}


.grid-container3 {
    border: 1px solid rgb(255, 255, 255); 
    width: 60rem;
    display: grid;
    grid-template-columns: auto auto; 
    gap: 20px;  
    grid-template-rows: auto;
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 24px;
    align-items: center;
    padding: 20px;
}