.Main{
    text-align: center;

}
.Main-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 20px;
    grid-template-rows: auto;
    height: 300px; 
}
.Main-banner{
    border: 1px solid rgb(255, 255, 255); 

    height: 100%;
    width: 460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: end;
}

.Main-banner-text{
    word-spacing: 10px;
    white-space: pre-line;
    padding: 30px;
    margin: 30px;
    font-size: calc(10px + 2vmin);
    font-family: 'pp_supply_monoregular', sans-serif;
    color: white;

}