.Contacts{
    text-align: center;

}
.Contacts-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    grid-template-rows: auto auto;
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    font-size: 40px;
}
.Contacts-grid-block{
    border: 1px solid rgb(255, 255, 255);  
    color: white;
    font-family: 'pp_supply_monoregular', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
/*    width: 60rem;*/
    margin: 20px;
    padding: 20px;
}
